---
const { data, iconClass, title, side, angle } = Astro.props;
let cls = ["planet-data", data].join(" planet-");

let angle_deg = angle;

if( angle_deg !== 0 && side === "right" ){
    angle_deg *= -1;
}

if( !isNaN(angle_deg) ){ angle_deg = angle_deg.toFixed(); }
---

<div class={ `planet-data-wrapper planet-data-wrapper-${data} planet-data-wrapper-${side}` } style={ `--deg: ${ angle_deg }deg; --deg_inv: ${ (angle_deg * -1) }deg` }>
    <div class={ cls }>
        <div class="planet-data-icon">
            <i class={ iconClass }></i>
        </div>
        <div class="planet-data-content">
            <p class="title">{ title }</p>
            <p class="value">
                <slot/>
            </p>
        </div>
    </div>
</div>

<style lang="scss">
    .planet{
        $this: &;
        
        // Planet data box
        &-data{
            display: flex;
            align-items: center;
            pointer-events: none;
            
            opacity: 0;
            transition: opacity 1s cubic-bezier(.65,.05,.36,1);
            transition-delay: inherit;

            width: 75%;

            &-wrapper{
                position: absolute;
                top: 50%;
                left: 50%;
                // transform: translate(-50%, -50%);
                // transform: translate(-50%, -50%) rotate( var(--deg, 0%) );
                transform: translate(-50%, -50%) rotate(0);
                // width: 100%;
                // width: 45%;
                width: 31.2vw;

                transition: transform 1s cubic-bezier(.65,.05,.36,1);
                will-change: transform;

                display: flex;

                // &::after{
                //     content: '';
                //     position: absolute;
                //     top: 50%;
                //     left: 0;
                //     width: 100%;
                //     height: 0;
                //     // background-color: var(--c_white);
                //     border-top: 2px dashed var(--c_white);
                //     opacity: 0.1;
                //     z-index: -1;
                // }

                &-left{
                    justify-content: flex-start;

                    #{$this}-data{
                        flex-direction: row-reverse;
                        transform-origin: calc(100% - var(--step-1)) center;
                        transform: translateX(calc(-100% + var(--step-1))) rotate( var(--deg_inv, 0%) );
                        // transform: translateX(-91%) rotate( var(--deg_inv, 0%) );

                        &-content{
                            text-align: right;
                            transform-origin: 100% 50%;

                            transform: scale(0);
                            transition: transform 1s cubic-bezier(.65,.05,.36,1);
                            transition-delay: 0.6s;
                        }
                    }
                }

                &-right{
                    justify-content: flex-end;

                    #{$this}-data{
                        transform-origin: 25px center;
                        flex-direction: row;
                        transform-origin: var(--step-1) center;
                        transform: translateX(calc(100% - var(--step-1))) rotate( var(--deg_inv, 0%) );
                        // transform: translateX(91%) rotate( var(--deg_inv, 0%) );

                        &-content{
                            text-align: left;
                            transform-origin: 0% 50%;

                            transform: scale(0);
                            transition: transform 1s cubic-bezier(.65,.05,.36,1);
                            transition-delay: 0.6s;
                        }
                    }
                }


                &-curiosity{
                    top: 90%;
                    transform: translate(-50%, -50%);
                    justify-content: center;

                    #{$this}-data{
                        transform: unset;

                        &-icon{
                            display: none;
                        }

                        .title, .value{
                            text-align: center;
                        }

                        .value{
                            line-height: 1.4;
                        }
                    }
                }

                &:nth-child(1), &:nth-child(2), &:nth-last-child(1), &:nth-last-child(2){
                    transition-delay: 0.25s;
                }

                &:nth-child(3), &:nth-child(4), &:nth-last-child(3), &:nth-last-child(4){
                    transition-delay: 0.35s;
                }

                &:nth-child(5), &:nth-child(6), &:nth-last-child(5), &:nth-last-child(6){
                    transition-delay: 0.45s;
                }

                &:nth-child(5), &:nth-child(6), &:nth-last-child(5), &:nth-last-child(6){
                    transition-delay: 0.55s;
                }
            }

            &-icon{
                flex-shrink: 0;
                height: 100%;
                // margin-top: calc( var(--step-1) * -0.125 );
                display: flex;
                align-items: center;

                i{
                    font-size: var(--step-1);
                    color: var(--c_primary);

                    padding: 16px;
                    border-radius: 50%;
                    background: var(--c_secondary);
                    // border: 2px solid var(--c_secondary);
                    // backdrop-filter: blur(5px);
                }
            }

            &-content{
                flex: 1 1 100%;
                padding: 0 32px;
            }

            .title{
                font-size: var(--step--1);
                opacity: 0.5;
                text-transform: lowercase;
                margin-bottom: 4px;

                &::first-letter{
                    text-transform: uppercase;
                }
            }

            .value{
                font-size: var(--step-0);
                line-height: 1;
            }
        }
    }
</style>